<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Java Mentor</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">JM Spring Security</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a type="button" th:href="@{/}" class="btn btn-outline-light">Home</a></li></ul>
        </div>
    </div>
</nav>
<div class="container">
    <div  class="row">
        <div class="col text-center">
            <h1 class="mt-5">JM Spring Security</h1>
            <p class="lead">Users list</p>
        </div>
    </div>
</div>
<div class="container">
    <form th:method="POST" th:action="@{/admin/edit}" th:object="${user}">
        <label for="user_id">Id</label>
        <input type="text" id="user_id" th:field="*{id}">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="first_name">First name</label>
                <input class="form-control" type="text" id="first_name" th:field="*{firstName}">
            </div>
            <div class="col-md-6 mb-3">
                <label for="last_name">Last name</label>
                <input class="form-control" type="text" id="last_name" th:field="*{lastName}">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="e_mail">Email</label>
                <input class="form-control" type="text" id="e_mail" th:field="*{email}">
            </div>
            <div class="col-md-6 mb-3">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" th:field="*{password}">
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-6 mb-3">
                <label for="roles">ROLES</label>
                <div id="roles">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="admin_checkbox">ADMIN: &nbsp;</label>
                        <input class="form-check-input" type="checkbox" name="checkbox_admin" th:checked="${user.hasRole('ROLE_ADMIN')}" id="admin_checkbox" value="true">
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="user_checkbox">USER: &nbsp;</label>
                        <input class="form-check-input" type="checkbox" name="checkbox_user" th:checked="${user.hasRole('ROLE_USER')}" id="user_checkbox" value="true">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="enabled_row">Enabled</label>
                <div id="enabled_row">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="enabled">Is enabled: &nbsp;</label>
                        <input class="form-check-input" type="checkbox" name="checkbox_enabled" th:checked="*{isEnabled()}" id="enabled">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center form-row">
            <div class="mr-3">
                <button class="btn btn-secondary" type="submit" th:text="*{getId()} ? 'Edit' : 'Creat'"></button>
                <a class="btn btn-light border-dark" href="/admin">Cancel</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>